<html>

<body>

<form action="/capstore/changepassword" method="post" style="border:1px solid #ccc">
  <div class="container">
    <h1>Change Password</h1>
    
    <hr>

    <label for="email"><b>Enter the email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Current Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    
        <label for="password"><b>New Password</b></label>
    <input type="password" placeholder="Enter Password" name="newpwd" required>

<label for="password"><b>Enter the password again</b></label>
    <input type="password" placeholder="Enter Password" name="newpswd" required>  



    <div class="clearfix">
 
      <button type="submit" class="signupbtn">Change password</button>
    </div>
  </div>
</form>

</body>


</html>
