<html>

<body>

<form action="/capstore/forgotpassword" method = "post" style="border:1px solid #ccc">
  <div class="container">
    <h1>Forgot Password</h1>
    <p>Enter your mail id to recover the password.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>





    <div class="clearfix">
 
      <button type="submit" class="signupbtn">Send a mail with password</button>
        </div>
     

  </div>
</form>

</body>


</html>
