<div class="tablespace">
    
    <table  border="1" class="table table-striped">
      <thead>
      <tr>
        <th>Product Id</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Merchant's ID</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Sold</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="">
        <!-- <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td> -->
      </tr>
      </tbody>
    </table>
    </div>
    
